@model IEnumerable<KeyValuePair<BillboardsProject.ViewModels.OrderDetailViewModel, BillboardsProject.ViewModels.LocationViewModel>>




<ul id="t">
    @foreach (var item in Model)
    {
        <h2>
            <div style="font-size: medium">
                <li>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => model.Key.End)
                    </div>
                    @Html.DisplayTextFor(m => item.Key.Start)
                </li>
                o
                <li>
                    <div class="display-label">
                        @Html.DisplayNameFor((m) => m.Key.End)
                    </div>

                    @Html.DisplayTextFor(m => item.Key.End)
                </li>
                <li>
                    <div class="display-label">
                        @Html.DisplayNameFor((m) => m.Key.Total)
                    </div>

                    @Html.DisplayTextFor(m => item.Key.Total)
                </li>
            </div>
            <section style="font-size: small">
                <ul>
                    <li>
                        <div class="display-label">
                            @Html.DisplayNameFor((m) => m.Value.Discription)
                        </div>

                        @Html.DisplayTextFor(m => item.Value.Discription)
                    </li>
                    <li>
                        <div class="display-label">
                            @Html.DisplayNameFor((m) => m.Value.Price)
                        </div>

                        @Html.DisplayTextFor(m => item.Value.Price)
                    </li>
                    <li>
                        <div class="display-label">
                            @Html.DisplayNameFor((m) => m.Value.Laltitude)
                        </div>

                        @Html.DisplayTextFor(m => item.Value.Laltitude)
                    </li>

                    <li>
                        <div class="display-label">
                            @Html.DisplayNameFor((m) => m.Value.Longtitude)
                        </div>

                        @Html.DisplayTextFor(m => item.Value.Longtitude)
                    </li>
                    <li>
                        
                        @{
                            var locationId = item.Key.LocationId;
                        }
                        @Html.ActionLink("Remove", "RemoveFromCart","Locations", new {Id =locationId} )
                    </li>
                </ul>
            </section>

            @Ajax.ActionLink("Remove","RemoveFromCart","locations" ,new {Id =locationId},new AjaxOptions())

        </h2>
    }
</ul>

<h2>Cart</h2>
