@model List<BillboardsProject.ViewModels.LocationViewModel>

@{

}
<style type="text/css">
    .display-label
    {
        background: lightsteelblue;
        font-size: larger;
    }

    .display-field
    {
        font-size: small;
    }
 
</style>

<h2>ShowAll</h2>

<fieldset>
    <legend>LocationViewModel</legend>

    <ul>
        @foreach (var item in Model)
        {      
            <ul style="margin-bottom: 65px">
                <p>
                    <div class="display-label">
                        @Html.DisplayNameFor(model => item.Discription)
                    </div>
                    <div class="display-field">
                        @Html.DisplayFor(model => item.Discription)
                    </div>

                    <div class="display-label">
                        @Html.DisplayNameFor(model => item.Price)
                    </div>
                    <div class="display-field">
                        @Html.DisplayFor(model => item.Price)
                    </div>

                    <div class="display-label">
                        @Html.DisplayNameFor(model => item.InLockState)
                    </div>
                    <div class="display-field">
                        @Html.DisplayFor(model => item.InLockState)
                    </div>

                    <div class="display-label">
                        @Html.DisplayNameFor(model => item.IsAvailable)
                    </div>
                    <div class="display-field">
                        @Html.DisplayFor(model => item.IsAvailable)
                    </div>

                    @Html.HiddenFor(model => item.Id)

                    @Html.ActionLink("Open", "ShowLocationInfo", item, null);
                                     
                    <br />
                </p>

            </ul>
         
        }
    </ul>
</fieldset>

